{% extends "admin/base_site.html" %}

{% block content %}
<div class="container">
    <h1>Plot Locations on Floor {{ floor.floor_number }} of {{ floor.building.site_display_name }}</h1>
    <div style="position: relative;">
        <img src="{{ floor.floor_image.url }}" id="floorplan" style="width: 100%;" />
        {% for location in locations %}
            <div class="location-marker"
                 style="position: absolute; top: {{ location.y_coordinate }}%; left: {{ location.x_coordinate }}%; background: red; width: 10px; height: 10px; border-radius: 50%; cursor: pointer;"
                 data-id="{{ location.id }}"
                 title="{{ location.location_name }}">
            </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('#floorplan').click(function(e){
            var offset = $(this).offset();
            var x = ((e.pageX - offset.left) / $(this).width()) * 100;
            var y = ((e.pageY - offset.top) / $(this).height()) * 100;

            // Prompt to select a location
            var locationId = prompt("Enter the location ID to set the coordinates:");

            if (locationId) {
                $.post("{% url 'update_location_coordinates' 0 %}".replace('0', locationId), {
                    x: x,
                    y: y,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, function(data){
                    location.reload();
                });
            }
        });

        $('.location-marker').click(function(){
            var locationId = $(this).data('id');
            alert("Location ID: " + locationId);
            // Optionally, you can add more actions here, like showing location details or editing.
        });
    });
</script>
{% endblock %}
